#lizard-sound-title{
  text-align: center;
}

#soundboard-container{
  background-color: antiquewhite;
  height: 740px;
  width: 360px;
}

#soundboard-container button{
  width: 115px;
  height: 115px;
}
